*{
  margin: 0;padding: 0;
  box-sizing: border-box;

}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-shadow: 0 5px 10px rgba(81, 78, 78, 0.5);
  margin-bottom: 2rem;
}
header form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
header form input{
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
}
header form button{
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  border: 2px solid #4caf50;
  color: #4CAF50;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}
header form button:hover{
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

footer{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem;
  font-size: 1.3rem;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  box-shadow: 0 -5px 10px rgba(81, 78, 78, 0.5) ;
  background-color: #242424;
}

#image-container {
  margin: auto;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 10px;
}
#image-container .search-result {
  position: relative;
  overflow: hidden;
  height: 250px; 
  border: 1px solid white;
  border-radius: 10px;
}
#image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

/* Make some images span multiple rows or columns */
#image-container .search-result:nth-child(2n) {
  grid-row: span 2;
  height: 520px; /* Adjust height for larger items */
}

#image-container .search-result:nth-child(3n) {
  grid-column: span 1;
}

/* Hover effect */
#image-container img:hover {
  transform: scale(1.05);
}
#image-container .search-result .image-des{
  position: absolute;
  z-index: 10;
  top:1rem;
  left: 1rem;
  text-decoration: none;
  color: green;
  .fa-circle-arrow-down{
     font-size: 2rem;
      color: black;
      transition: all 0.2s ease-in-out;
  }
  a{
    text-decoration: none;
    color: wheat;
    cursor: pointer;
    font-size: 1.2rem;
  }
  p{
    font-size: 1rem;
  }
}
#image-container .search-result a:hover{
  text-decoration: underline;

}
.search-result img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}
